#albumImg {
  height: 150px;
  border-radius: 5px;
}


.mapHeader, .albumsHeader {
  font-size: 18px;
  margin-bottom: 20px;
  color: #d9894f;
  font-weight: bold;

}


.genAlbums  {
  height: 650px; 
  width: 300px;
  overflow-y: scroll; 
  margin-left: 50px;
  position: relative;
}

.datamap {
  width: 80%;
  height: 100%;
  float:left;
}

#basic_choropleth {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.eachAlbum {
  background-color: rgba(217,219,223, 0.4);
  margin-bottom: 10px;
  font-size: 12px

}
#albumRelease p{
  font-style: italic;
  display: inline;
  margin:0;
}

#albumCopyright {
  font-weight: bold;
}

#albumName {
  color: #d9894f;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
