.play-button img.fa-play {
  display: none;
}

.volumeDiv img#mute {
  display: none;
}

.volumeDiv:hover #volumebar {
  visibility: visible;
  bottom: 20px;
}

.progress-wrap {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 5px;
  border-radius: 25px;
  background-color: #a0a7af;
  overflow: hidden;
}

.progress-bar {
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  display: block;
  height: 100%;
  width: 0%;
  max-width: 100%;
  background-color: #ffe1bd;
  border-radius: 25px;
    margin: 0 auto;
}

.controlDiv{
  text-align: center;
}

.controlBar {
  margin-top: -35px;
  text-align: center;
}

.buttons {
  display: inline;
  margin: 30px;
}

.audio-player-buttons {
  position: relative;
  height: 150px;
}

.volumeDiv {
  display: inline-block;
  position: relative;
}

#volumebar {
  display: inline;
  visibility: hidden;
  width: 70px;
  margin-left: -10px;
}

#playlist, #worldMap, #audacity, #uncheck, #tournament {
  height: 40px;
  width: 40px;
}
#fastBackward, #player-play, #player-pause, #stop, #fastForward, #unmute, #mute {
  height: 30px;
  width: 30px;
}

#conversationPlayer {
  height: 50px;
  margin-top: -40px;
}
