#team {
  text-align: center;
}

.gitPic {
  height: 168px;
  border-radius: 50%;
}

.git {
  margin-top: 100px;
  text-align: center;
  height: 600px;
  background-color: #ffe1bd;
 

    overflow: hidden;
    width: 500%;
     margin-left: -200%; 
}

.footer {
  text-align: center;
}

.inner {
   width: 20%;
    margin: 0 auto; 
}
