#logo {
  height: 40px;
  right: 0;
}

p {
  margin-left: -25px;
}

.body {
  text-align: center;
  font-family: Myriad Pro Regular;
}
.inline {
  display: inline-block;
  margin-left: 20px;
}

.btn-danger {
  background-color: #d9894f;
  border-color: #d9894f;
}
.js-trigger-overlay-about {
  float: right;
  margin-top: -50px;
  font-size: 2.0rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #d9894f;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.js-trigger-overlay-about:hover {
  background-color: #d9894f;
  color: #ffffff;
  border-color: #d9894f;
}

.js-trigger-overlay-start {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1rem 2rem;
  background-color: #d9894f;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.js-trigger-overlay-start:hover {
  background-color: #ffffff;
  color: #d9894f;
  border-color: #d9894f;
}
