#logo {
  height: 40px;
  right: 0;
}
#siri {
  height: 50px;
  display: none;
}

p {
  margin-left: -25px;
}

a:focus, a:hover {
  text-decoration: none;
}

#soundbear {
  font-weight: bold;
  font-size: 40px;
}

#description {
  font-family: inherit;
}

.body {
  height: 550px;
  font-family: "Helvetica";
  background-color: moccasin;
  text-align: center;
  padding-top: 50px;
}

.title {
  margin-bottom: 60px;
}

.inline {
  display: inline-block;
  margin-left: 20px;
}

.btn-danger {
  background-color: #d9894f;
  border-color: #d9894f;
}
.js-trigger-overlay-about {
  float: right;
  margin-top: -50px;
  font-size: 2.0rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #d9894f;
  border-color: #d9894f;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.js-trigger-overlay-about:hover {
  background-color: #d9894f;
  color: #ffffff;
  border-color: #d9894f;
}

.js-trigger-overlay-start {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1rem 2rem;
  background-color: black;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.js-trigger-overlay-start:hover {
  background-color: #ffffff;
  color: #d9894f;
  border-color: #d9894f;
}
