.songName, .artistName, .views, .toptennav {
  text-align: center;
  padding-bottom: 20px;
}

.toptennav {
  color: #d9894f;
  border-top: 1px solid #ffe1bd;
  border-bottom: 1px solid #ffe1bd;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#toptennav {
  font-weight: bold;
}

#topten {
  color: #d9894f;
  font-size: 25px;
  margin-bottom: 5px;
/*  text-shadow: 0px 0px 1px #a0a7af;*/
  letter-spacing: 1px;
}

#championPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.championrow {
  height: 80px;
}

.song, .artist, .totalViews {
  font-size: 14px;
}
