.songName, .artistName, .views, .toptennav {
  text-align: center;
  padding-bottom: 20px;
}

#topten {
  color: #d9894f;
}

#toptennav {
  font-weight: bold;
}

.top {
  background-color: #ffe1bd;
  margin-bottom: 20px;
}
