html, body {
  font-family: "Droid Sans", Calibri, sans-serif;
}
#player {
  display: none;
}

#track {

   margin: 0;
   padding: 0;
}

.heading {
  margin-top: 50px;
  font-size: 20px;
}

#conversation {
  display: none;
}

#currentTrack {
  text-align: center;
  font-size: 18px;
}

#currentSong {
  height: 125px;
  width: auto;
}

.queue {
  display: inline-block;
  position: relative;
  margin-left: -25px;
}

.songImage {
  height: 100px;
  width: auto;
}

#trashImg {
  height: 35px;
  width: auto;
}

.history {
  height: 100px;
  width: auto;
  position: relative;
  margin-right: -25px;
}

.available {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.available:hover {
  cursor: pointer;
}
