html, body {
  font-family: "Droid Sans", Calibri, sans-serif;
}
#player {
  display: none;
}

.heading {
  margin-top: 50px;
  font-size: 20px;
}

#conversation {
  display: none;
}

#currentTrack {
  text-align: center;
  font-size: 18px;
}

#currentSong {
  height: 125px;
  width: auto;
}

.queue {
  height: 100px;
  width: auto;
  position: relative;
  margin-left: -25px;
}

.history {
  height: 100px;
  width: auto;
  position: relative;
  margin-right: -25px;
}
