#player {
  display: none;
}

.heading {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Helvetica";
}

#conversation {
  display: none;
}

#currentTrack {
  text-align: center;
  font-size: 18px;
}

#currentSong {
  height: 125px;
  width: auto;
}
